---
import "../../styles/global.css";

import BaseHead from "../../components/BaseHead.astro";

import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";
import Navbar from "../../components/Navbar.astro";

import { Content, frontmatter } from "./test-code-block.mdx";
// const { title, date, tags } = frontmatter;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />

    <title></title>
  </head>
  <body>
    <Navbar />

    <main class="px-[20vw] m-0">
      <article class="flex flex-col">
        START ARTICLE md:max-w-dvw

        <Content />
      </article>
    </main>
  </body>
</html>
